.form-control-borderless {
  border-width: 0px 0px 0px 0px;
  border-radius: 0px;
}

.form-control-borderless:focus {
  /*outline: none;*/
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
  border-bottom: #3a51b5;
  border-width: 0px 0px 1px 0px;
}

.form-control-borderless:hover, .form-control-borderless:focus {
  /*outline: none;*/
  box-shadow: none;
  background-color: transparent;
  color: #ffffff;
  /*border-bottom: #3a51b5;*/
  border-bottom: 1px solid #3a51b5;
  transition: .5s;
}

.cus-inputf {
  background: transparent;
  color: #ffffff;
  /*border: none;*/
  border-bottom: 1px solid #ffffff;
}

.iconstyle {
  color: #ffffff;
  margin-right: .5rem;
}

.btn1 {
  border-width: 0px 0px 0px 0px;
}

.cus-form {
  background: #262626;
  border-radius: 5px;
}

